{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css">
    <title>Order Details</title>
</head>
<body>
    <div class="container py-5 text-center">
        <h2 class="text-decoration-underline">Name of Customer: {{order.customer_name}}</h2>
        <div class="d-flex justify-content-center align-items-center mt-2">
            <h4 class="mx-3">Order: {{order.order_name}} - {{order.order_quantity}} pcs</h4>
            <h4 class="mx-3">Recieved Date: {{order.order_recieved_date}}</h4>
            <h4 class="mx-3">Delivery Date: {{order.order_due_date}}</h4>
        </div>
    <table class="table table-bordered">
        <thead class="table-warning">
            <tr>
                <th><h4>Blazer/Jacket</h4></th>
                <th><h4>Kurta/Shirt</h4></th>
                <th><h4>Trouser</h4></th>
            </tr>
        </thead>
        <tr>
            <td class="text-center">{{order.measurement.front_length}} Front Length</td>
            <td class="text-center">{{order.measurement.kurta_front_length}} Front Length</td>
            <td class="text-center">{{order.measurement.Tourser_length}} Length</td>
        </tr>
        <tr>
            <td class="text-center">{{order.measurement.shoulder}} Soulder</td>
            <td class="text-center">{{order.measurement.kurta_shoulder}} Soulder</td>
            <td class="text-center">{{order.measurement.Tourser_inseam}} Inseam</td>
        </tr>
        <tr>
            <td class="text-center">{{order.measurement.sleeves}} Sleeves</td>
            <td class="text-center">{{order.measurement.kurta_sleeves}} Sleeves</td>
            <td class="text-center">{{order.measurement.Tourser_bottom}} Buttom</td>
        </tr>
        <tr>
            <td class="text-center">{{order.measurement.chest}} Chest</td>
            <td class="text-center">{{order.measurement.kurta_chest}} Chest</td>
            <td class="text-center">{{order.measurement.Tourser_knee}} Knee</td>
        </tr>
        <tr>
            <td class="text-center">{{order.measurement.hip}} Hip</td>
            <td class="text-center">{{order.measurement.kurta_hip}} Hip</td>
            <td class="text-center">{{order.measurement.Tourser_hips}} Hips</td>
        </tr>
        <tr>
            <td class="text-center">{{order.measurement.crossfront}} Cross Front</td>
            <td class="text-center">{{order.measurement.kurta_sleeves_opening}} Sleeves Opening</td>
            <td class="text-center">{{order.measurement.Tourser_waist}} Waist</td>
        </tr>
        <tr>
            <td class="text-center">{{order.measurement.crossback}} Cross Back</td>
            <td class="text-center">{{order.measurement.kurta_biceps}} Biceps</td>
            <td class="text-center">{{order.measurement.Tourser_thigh}} Thigh</td>
        </tr>
        <tr>
            <td class="text-center">{{order.measurement.sherwani_vest}} Vest</td>
            <td class="text-center">{{order.measurement.kurta_Cut_Choices}} Cut Choice</td>
            <td class="text-center">{{order.measurement.Tourser_rounding}} Rounding</td>
        </tr>
        <tr>
            <td class="text-center">{{order.measurement.slits}} Slits</td>
            <td class="text-center">--</td>
            <td class="text-center">{{order.measurement.Rise_Choices}} Rise Belt</td>
        </tr>
        <tr>
            <td class="text-center">--</td>
            <td class="text-center">--</td>
            <td class="text-center">{{order.measurement.Pleat_Choices}}</td>
        </tr>
        <tr>
            <td class="text-center">--</td>
            <td class="text-center">--</td>
            <td class="text-center">{{order.measurement.Belt_Choices}}</td>
        </tr>
        <tr>
            <td class="text-center">--</td>
            <td class="text-center">--</td>
            <td class="text-center">{{order.measurement.Pocket_Choices}} Pocket</td>
        </tr>
        <tr>
            <td class="text-center">--</td>
            <td class="text-center">--</td>
            <td class="text-center">Watch Pocket - {{order.measurement.Watch_Pocket_Choices}}</td>
        </tr>
        <tr>
            <td class="text-center">--</td>
            <td class="text-center">--</td>
            <td class="text-center">{{order.measurement.Watch_Pocket_Number}} Watch Pocket</td>
        </tr>
        <tr>
            <td class="text-center">--</td>
            <td class="text-center">--</td>
            <td class="text-center">Mobile Pocket - {{order.measurement.Mobile_Pockets}}</td>
        </tr>
        <tr>
            <td class="text-center">--</td>
            <td class="text-center">--</td>
            <td class="text-center">Pocket Size - {{order.measurement.pocketSize}}</td>
        </tr>
        <tr>
            <td class="text-center">{{order.measurement.Blazer_Jacket_Additional_Information}}</td>
            <td class="text-center">{{order.measurement.Kurta_Shirt_Additional_Information}}</td>
            <td class="text-center">{{order.measurement.Trouser_Additional_Information}}</td>
        </tr>
        <tr>
            <td class="text-center">{{order.measurement.jacket_order_quantity}} Pcs</td>
            <td class="text-center">{{order.measurement.kurta_order_quantity}} Pcs</td>
            <td class="text-center">{{order.measurement.trouser_order_quantity}} Pcs</td>
        </tr>
        <tr>
            <td class="text-center"><img src="/images/{{order.measurement.Blazer_sample_cloth_image}}" alt="" width="100%" height="200px"></td>
            <td class="text-center"><img src="/images/{{order.measurement.Kurta_sample_cloth_image}}" alt="" width="100%" height="200px"></td>
            <td class="text-center"><img src="/images/{{order.measurement.Trouser_sample_cloth_image}}" alt="" width="100%" height="200px"></td>
        </tr>
    </table>
    <form action="" method="POST" class="d-flex flex-column align-items-center justify-content-center">
        {% csrf_token %}
        <div>
            <input type="radio" name="status" id="cutting" value="cutting" {% if order.order_status == "CUTTING STARTED" %} checked {% endif %}>
            <label for="cutting">Cutting</label>
        </div>
        <div>
            <input type="radio" name="status" id="stitching" value="stitching" {% if order.order_status == "STITCHING STARTED" %} checked {% endif %}>
            <label for="stitching">Stitching</label>
        </div>
        <div>
            <input type="radio" name="status" id="finished" value="finished" {% if order.order_status == "ORDER READY" %} checked {% endif %}>
            <label for="finished">Order Ready</label>
        </div>

        <div class="d-flex align-items-center">
            <button class="btn btn-dark btn-sm mx-2" type="button" onclick="decrease()">-</button><input type="number" name="number" id="number" value={{order.number_of_order_done}} class="text-center"><button class="btn btn-dark btn-sm mx-2" onclick="increase()" type="button">+</button>
        </div>
    
        <div class="my-3">
            <button type="submit" class="btn btn-success">Update Status</button>
        </div>
    </form>
    
    </div>

    <script>
        function increase(){
            let val = Number(document.getElementById("number").value);
            val++;
            document.getElementById("number").value = val;
        }
        function decrease(){
            let val = Number(document.getElementById("number").value);
            if(val<=0){
                document.getElementById("number").value = 0;
            }
            else{
                val--;
                document.getElementById("number").value = val;
            }
        }
    </script>
</body>
</html>